.t1 {
     color:rgb(93, 137, 233);
    text-align:center;
    font-size:150%;
}

.t2 {
    float: left;
    padding: 1%;
    max-width: 100%;
    border:5px solid white;
    position:relative;
    margin: 40px;
    flex-shrink: nowrap;
    
    
}
.t3 {
    float: left;
    background-color:white(83, 53, 53);
    padding: 1%;
    max-width: 100%;
    position:relative;
    border:5px solid white;
    margin: 40px;
    flex-shrink: nowrap;
}

.t4 {
    float: left;
    background-color: white(83, 53, 53);
    padding: 1%;
    max-width: 100%;
    position:relative;
    border:5px solid white;
    margin: 40px;
    flex-shrink: nowrap;
}
.t5 {
  position: absolute;
  color: gray;
  text-align:right;
  font-size:150%;
  right:100px;
  top: 10px;
}



.t7 {
    color:rgb(29, 219, 156);
    text-align:center;
    font-size:150%;
}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(194, 41, 41);
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.f1 {
  color:rgb(93, 137, 233);
 text-align:center;
 font-size:150%;
}
.F5 {
  position: absolute;
  color: gray;
  text-align:right;
  font-size:150%;
  right:100px;
  top: 10px;

}